<article class="textOnTop">
  <header>
    <h2>{{ project.name }}</h2>
    <div>{{ project.year }}</div>
  </header>
  <div class="details">
    <div *ngIf="project.client">Client: {{ project.client }}</div>
    <div *ngIf="project.exhibit">Exhibition: {{ project.exhibit }}</div>
    <div>{{ project.description }}</div>
  </div>
  <div class="background">
    <img class="bigimage" [src]="project.mainimage" [alt]="project.description" />
  </div>
</article>
<div *ngIf="project.extraAssets && showExtras">
    <div class="video">
        <iframe src="http://player.vimeo.com/video/26435861"></iframe>
    </div>
</div>
